<div layout="row" layout-align="center center">
  <md-card style="max-width: 800px;" layout-padding flex>
    <h1 class="md-headline">Establish hours your customers can order</h1>
    <!--<h2 class="md-subhead">Add hours</h2>-->
    <form ng-submit="vm.addHours(vm.newHours)">
      <div layout-xs="column" layout-gt-xs="row">
        <md-input-container flex-gt-xs="20" flex>
          <label for="displayName">Start time</label>
          <input type="text" id="displayName" ng-model="vm.newHours.startTime">
          <!--<div class="hint">This will be displayed through out your app.</div>-->
        </md-input-container>
        <md-input-container flex-gt-xs="20" flex>
          <label for="tagline">End time</label>
          <input type="text" id="tagline" ng-model="vm.newHours.endTime">
          <!--<div class="hint">This will be displayed on the home view.</div>-->
        </md-input-container>

        <md-input-container flex-gt-xs="50" flex>
          <md-select ng-model="vm.newHours.day" placeholder="Select a day">
            <md-option value="Monday">Monday</md-option>
            <md-option value="Tuesday">Tuesday</md-option>
            <md-option value="Wednesday">Wednesday</md-option>
            <md-option value="Thursday">Thursday</md-option>
            <md-option value="Friday">Friday</md-option>
            <md-option value="Saturday">Saturday</md-option>
            <md-option value="Sunday">Sunday</md-option>
          </md-select>

        </md-input-container>
        <md-button ng-click="vm.addHours(vm.newHours)" class="md-primary">add</md-button>
      </div>
    </form>
    <div layout-xs="column" layout-gt-xs="row">

    </div>

    <md-list>
      <md-list-item class="secondary-button-padding md-2-line" ng-repeat="open in vm.hours">
        <div class="md-list-item-text">
          <h3>{{open.day}}</h3>
          <p>{{open.startTime}} to {{open.endTime}}</p>
        </div>
        <md-button class="md-warn" ng-click="vm.removeHours(open)">delete</md-button>

        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-card>
</div>