<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Deliverly</title>
    <!--<base href="/Deliverify/" />-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="node_modules/angularjs-color-picker/dist/angularjs-color-picker.min.css"/>
    <link rel='stylesheet' href='node_modules/textangular/dist/textAngular.css'>
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/1.0/firebase-ui-auth.css" />


    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="app" layout="row" ng-controller="AppCtrl as app" ng-cloak >
    
    <!-- LEFT NAVIGATION -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="app.shouldLockOpen()" style="background: #f8f8f8;" md-component-id="left">
      <md-toolbar class="md-theme-dark md-tall" style="background-image: url(assets/img/bg7.jpg); background-size: cover;">
        <div class="md-toolbar-tools">
          <span flex></span>
          <p class="header" style="text-shadow: 2px 2px 0 #000; margin-top: 50px; color: #fff; font-size: 3em;">deliverify</p>
          <span flex></div>
        </div>
      </md-toolbar>
      
          <!-- FREE TRIAL -->
    <div ng-if="!app.currentUser" class="trial-form" layout-padding>
        <md-button hide-gt-sm class="md-icon-button md-accent" aria-label="Close" ng-click="app.closeSidenav('left')">
          <md-icon md-svg-icon="./assets/svg/close_white.svg"></md-icon>
      	</md-button>
        <form>
            <md-button ng-click="app.signInWithGoogle()" class="md-primary md-raised">Google</md-button> 
        </form>
    </div>
    
    <!-- USER MENU -->
    <div ng-if="app.currentUser">
      <div class="md-toolbar-tools md-toolbar-tools-bottom">
          <h2 class="md-subhead">
            {{app.store.branding.name}}
          </h2>
        </div>
        <!--<md-divider></md-divider>
        <md-button ng-click="app.go('admin.orders')" class="md-primary" style="height: 50px; width: 100%; border-radius: 0px; text-align: left; margin: 0; padding-left: 20px; font-size: 1em;"><md-icon md-svg-icon="assets/svg/store_black.svg"></md-icon> Orders</md-button>-->
        <md-divider></md-divider>
        <md-button ng-click="app.go('admin.menu')" class="md-primary" style="height: 50px; width: 100%; border-radius: 0px; text-align: left; margin: 0; padding-left: 20px; font-size: 1em;">
            <md-icon md-svg-icon="assets/svg/menu_black.svg"></md-icon> Menu
        </md-button>
        <md-divider></md-divider>
        <md-button ng-click="app.go('admin.locations')" class="md-primary" style="height: 50px; width: 100%; border-radius: 0px; text-align: left; margin: 0; padding-left: 20px; font-size: 1em;">
            <md-icon md-svg-icon="assets/svg/car_black.svg"></md-icon> Locations
        </md-button>
        <md-divider></md-divider>
        <md-button ng-click="app.go('admin.branding')" class="md-primary" style="height: 50px; width: 100%; border-radius: 0px; text-align: left; margin: 0; padding-left: 20px; font-size: 1em;">
            <md-icon md-svg-src="assets/svg/branding_black.svg"></md-icon> Branding
        </md-button>
        <md-divider></md-divider>
        <md-button ng-click="app.go('admin.contactInfo')" class="md-primary" style="height: 50px; width: 100%; border-radius: 0px; text-align: left; margin: 0; padding-left: 20px; font-size: 1em;">
            <md-icon md-svg-src="assets/svg/contact_black.svg"></md-icon> Contact Info
        </md-button>
        <md-divider></md-divider>
        <md-button ng-click="app.go('admin.hours')" class="md-primary" style="height: 50px; width: 100%; border-radius: 0px; text-align: left; margin: 0; padding-left: 20px; font-size: 1em;">
            <md-icon md-svg-src="assets/svg/hours_black.svg"></md-icon> Business Hours
        </md-button>
        <md-divider></md-divider>
    </div>
      
    </md-sidenav>
    
    <!--RIGHT NAVIGATION -->
    <md-sidenav class="md-sidenav-right md-whiteframe-z1" md-component-id="right">
        <div ui-view="rightSidenav"></div>
    </md-sidenav>

    <div layout="column" flex style="">
        <md-toolbar ng-if="app.state.current.name !== 'home' && app.state.current.name !== 'freeTrialForm'" style="background: #f8f8f8;" class="md-whiteframe-z1">
            <div class="md-toolbar-tools">
              <md-button hide-gt-sm ng-click="app.openSidenav('left')" ng-if="app.currentUser" class="md-icon-button md-accent" aria-label="Close" >
                  <md-icon md-svg-icon="assets/svg/menu.svg"></md-icon>
              </md-button>
              <h1 style="color: #666; font-size: 1.5em; font-weight: 100">{{app.appService.getNavTitle()}}</h1>
               
                <span flex></span>
                <!--<a ng-if="app.appService.getNavActions()" ng-href="{{app.appService.getNavActions().url}}" class="md-button md-raised md-primary">{{app.appService.getNavActions().title}}</a>-->
               <!--<p class="header" style="color: #fff;">deliverify</p>-->
               <md-menu md-position-mode="target-right target" >
                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <img ng-src="{{app.currentUser.photoURL}}" width="100%" style="border-radius: 50%" alt="You">
                    </md-button>
                    <md-menu-content width="4" >
                        <div style="padding: 10px;">
                            <h5 style="margin: 0;">{{app.currentUser.displayName}}</h5>
                            <span class="md-caption">{{app.currentUser.email}}</span>
                        </div>
                        <md-menu-item>
                            <md-button ng-click="app.signOut()">
                                <div layout="row" flex>
                                    <p flex>Sign out</p>
                                    <md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>
                                </div>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="app.signOut()">
                                <div layout="row" flex>
                                    <p flex>Feedback</p>
                                    <md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>
                                </div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
        <md-content layout="column" flex>
            <div flex ui-view="main"></div>
        </md-content>
        <!--<md-button class="md-fab md-fab-bottom-right">+</md-button>-->

    </div>

    <script src='//maps.googleapis.com/maps/api/js?sensor=false&&libraries=geometry,drawing'></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.5.0/lodash.min.js"></script>

    <!-- inject:js -->
    <!-- endinject -->


<script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/ui/live/1.0/firebase-ui-auth.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.1/tinycolor.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyB2wATUeR-4nfBGJQH7ZmY-5NCi1FwzcUo",
    authDomain: "deliverify.firebaseapp.com",
    databaseURL: "https://deliverify.firebaseio.com",
    storageBucket: "firebase-deliverify.appspot.com",
    messagingSenderId: "852851221189"
  };
  firebase.initializeApp(config);
</script>
<script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>

  </body>
</html>