<div class="hero-container" style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; background-image: url(assets/img/bg7.jpg); background-size: cover;">
    <div class="hero-container-content" layout="column" layout-align="center center">
        <h1 class="hero-font" style="">deliverify</h1>
        <h2 style="margin-top: 0;" class="md-display-1">The food delivery business made easy</h2>
        <div layout="column" layout-align="center center" style="margin-top: 50px; max-width: 450px; background: rgba(255,255,255, 0.8); padding: 20px;">
            <h3 style="margin-top: 0; color: #000; text-shadow: none;" class="md-title">Create an app for your customers in minutes</h3>

            <md-button flex style="width: 300px; height: 50px; font-size: 1.3em;" ng-click="vm.openFreeTrial()" class="md-accent md-raised">Start a free trial</md-button>
            <md-button flex style="width: 300px; height: 50px; font-size: 1.3em;" ng-click="vm.startDemo()" class="md-primary md-raised">Demo</md-button>
        </div>
    </div>
</div>