<div layout="row" layout-align="center center">
    <md-card style="max-width: 800px;" layout-padding flex>
        <!--<h3>Store contact information</h3>-->
        <h1 class="md-headline">Configure how customers connect to you</h1>

        <form name="info" class="free-trial">
            <h2 class="md-subhead">General</h2>
            <md-input-container style="width: 100%">
                <label for="address">Store address</label>
                <input type="text" id="address" ng-model="vm.info.address">
            </md-input-container>
            <md-input-container style="width: 100%">
                <label for="address2">Apt, Suite, Etc...</label>
                <input type="text" id="address2" ng-model="vm.info.address2">
            </md-input-container>
            <div layout-xs="column" layout-gt-xs="row">
                <md-input-container flex-xs="30" flex>
                    <label for="city">City</label>
                    <input type="text" id="city" ng-model="vm.info.city">
                </md-input-container>
                <md-input-container flex-xs="30" flex>
                    <label for="state">State</label>
                    <input type="text" id="state" ng-model="vm.info.state">
                </md-input-container>
                <md-input-container flex-xs="30" flex>
                    <label for="zip">Zip</label>
                    <input type="text" id="zip" ng-model="vm.info.zip">
                </md-input-container>
            </div>
            <div layout-xs="column" layout-gt-xs="row">
                <md-input-container flex-xs="50" flex>
                    <label for="storeEmail">Store email</label>
                    <input type="text" id="storeEmail" ng-model="vm.info.email">
                    <div class="hint">What email address can your customers contact you at?</div>
                </md-input-container>
                <md-input-container flex-xs="50" flex>
                    <label for="storePhone">Store phone</label>
                    <input type="text" id="storePhone" ng-model="vm.info.phone">
                    <div class="hint">What number can your customers reach you at?</div>
                </md-input-container>
            </div>
            <h2 class="md-subhead">Social</h2>
            <div layout-xs="column" layout-gt-xs="row">
                <md-input-container flex-xs="50" flex>
                    <label for="facebook">Facebook</label>
                    <input type="text" id="facebook" ng-model="vm.info.facebook">
                </md-input-container>
                <md-input-container flex-xs="50" flex>
                    <label for="twitter">Twitter</label>
                    <input type="text" id="twitter" ng-model="vm.info.twitter">
                </md-input-container>
            </div>


            <md-button ng-click="vm.saveStoreInfo();" style="width: 100%" class="md-primary md-raised">Save Info</md-button>
        </form>
    </md-card>
</div>