<div class="hero-container" style="min-height: 200px; background-image: url({{vm.menuItem.Image}}); background-position: center; background-size: cover;">
    <div class="hero-container-content">
      <h2 ng-if="!vm.menuItem" style="margin-top: 0;" class="md-headline">Add an image</h2>
    </div>
</div>
<div layout="row" layout-align="center center">
  <div style="max-width: 800px;" flex>
       <md-card>
         <div layout="row">
           <span flex></span>
             <md-button style="margin-top: -30px;" ng-click="vm.addImage()" class="md-fab md-fab-secondary"><md-icon md-svg-icon="assets/svg/add-photo_white.svg"></md-icon><md-tooltip md-direction="top">Add photo</md-tooltip></md-button>
         </div>
        <!--<md-card-title ng-if="!vm.menuItem">
          <h2 style="margin-top: 0;" class="md-headline">Add new menu item</h2>
        </md-card-title>-->
        <md-card-content>
          <form class="admin-menu-item">
            
            <!--<aps-upload-file></aps-upload-file>-->
            <md-input-container style="width: 100%">
                <label for="name">Item name</label>
                <input md-autofocus type="text" id="name" ng-model="vm.menuItem.Name">
            </md-input-container>
            <div style="width: 100%" layout-xs="column" layout-gt-xs="row">
              
              <md-input-container flex>
                <label for="price">Price</label>
                <input type="text" id="price" ng-model="vm.menuItem.Price">
              </md-input-container>
              <md-input-container flex>
              <label>Category</label>
                <md-select ng-model="vm.menuItem.Group">
                  <md-option value="Sandwiches">
                    Sandwiches
                  </md-option>
                  <md-option value="Drinks">
                    Drinks
                  </md-option>
              </md-select>
            </md-input-container>
            </div>
            <md-input-container class="md-block">
              <label>Description</label>
              <textarea ng-model="vm.menuItem.Description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
            </md-input-container>
            
            <md-subheader class="md-no-sticky">Ingredients</md-subheader>
          
            
            <md-chips ng-model="vm.menuItem.Ingredients" md-autocomplete-snap
              md-transform-chip="vm.transformIngredientChip($chip)"
              md-require-match="false">
              <md-autocomplete
                  md-selected-item="vm.selectedIngredient"
                  md-search-text="vm.searchText"
                  md-items="item in vm.ingredientSearch(vm.searchText)"
                  md-item-text="item.Name"
                  placeholder="Add an ingredient">
                <span md-highlight-text="ctrl.searchText">{{item.name}} :: {{item.type}}</span>
              </md-autocomplete>
              <md-chip-template>
                <span>
                  <strong>{{$chip.Name}}</strong>
                  <!--<em>({{$chip.type}})</em>-->
                </span>
              </md-chip-template>
            </md-chips>
            <md-button ng-click="vm.saveMenuItem(vm.menuItem);" style="width: 100%" class="md-primary md-raised">Save Item</md-button>
            <md-button ng-if="vm.menuItem" ng-click="vm.deleteMenuItem(vm.menuItem, $event);" style="width: 100%" class="md-warn">Delete</md-button>
          </form>
        </md-card-content>
       </md-card>
  </div>
</div>